---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro'
import StayProductive from '../components/StayProductive.astro'
import GetAccessToday from '../components/GetAccessToday.astro'
---

<Layout title="Frontend Mentor | Fylo landing page with two column layout">
	<main>
		<Banner />
		<StayProductive />
		<GetAccessToday />
	</main>
</Layout>