---
const { text, link } = Astro.props;
---

<section class='see-how-work'>
	<a class='text-link' href={link}> {text}</a>
	<img
		src='./images/icon-arrow.svg'
		alt='arrow icon in the how its work link'
		class='arrow-icon'
	/>
</section>
<style>
	.see-how-work {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-bottom: 2px solid var(--ModerateCyan);
		padding-bottom: 3px;
		max-width: 180px;
	}

	.see-how-work:hover {
		border-bottom: 2px solid var(--ModerateCyanHover);
	}

	.see-how-work:hover > a {
		color: var(--ModerateCyanHover);
	}

	.arrow-icon {
		margin-left: 5px;
		width: 25px;
	}

	.text-link {
		text-decoration: none;
		color: var(--ModerateCyan);
	}

	@media (max-width: 991px) {
		.see-how-work {
			margin: 0 auto;
		}
	}
</style>
